body {
	background-color: lightblue;
}

h1 {
	margin-top: 10px;
	font-size: 32px;

}

h2 {
	font-size: 26px;
}

p {
	font-size: 18px;
	line-height: 20px;
}

.wrapper {
	text-align: center;
	width: 960px;
	margin: 0 auto;
}

.button {
	background-color: black;
	color: white;
	border: none;
	padding: 15px 32px;
	font-size: 16px;
}

.intro {
	margin-bottom: 20px;
}

.gameBoard {
	width: 300px;
	background-color: grey;
	float: left;
	padding: 10px;

}

.stats {
	width: 300px;
	background-color: grey;
	float: right;
	padding: 10px;
}

.hangman {
	width: 300px;
	float:none;
}